<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <!-- <div class="navbar">
        <div class="co-navbar">
            <a href="#">Hoạt động</a>
            <a href="#">Cuộc thi</a>
            <a href="#">Ban tổ chức</a>
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
        </div>
    </div>
-->
    <div class="content">
    <div class="mid">
        <h2>Tầm nhìn</h2>
        <ul>
            <li>Cải thiện chương trình, xây dựng chương trình học thuật lớn nhất biên hòa nói riêng và Đồng Nai nói chung.</li>
            <li>Khẳng định vị thế CCVQ trên bản đồ các cuộc thi học thuật Việt Nam.</li>
            <li>Tạo một môi trường chuyên nghiệp cho các bạn trẻ có cơ hội học tập, tổ chức chương trình.</li>
        </ul>
        <img src="Images/Rectangle 53.png" alt="Tam nhin">
    </div>
<!--     <script>
        {
            const navbar = document.querySelector(".navbar");
            let lastScrollY = window.scrollY;

            window.addEventListener("scroll", () => {
                if (lastScrollY < window.scrollY ) {
                    navbar.classList.add("navbar--hidden");
                }
                else
                {
                    navbar.classList.remove("navbar--hidden");
                }
                lastScrollY = window.scrollY;
            });
        }
    </script>
    -->
    <div class="ccvq2022">
        <div class="div1">CCVQ22</div>
        <div class="div2">
          <div class="div21"><img class="img2" src="CCVQ2022 Img/IMG 1.jpeg"></div>
          <div class="div22"><img class="img2" src="CCVQ2022 Img/IMG 2.jpeg"></div>
          <div class="div23"><img class="img2" src="CCVQ2022 Img/IMG 3.jpeg"></div>
        </div>
        <div class="div3">
          <div class="div31"><img class="img31" src="CCVQ2022 Img/IMG 4.jpeg"></div>
          <div class="div32"><img class="img32" src="CCVQ2022 Img/IMG 5.JPG"></div>
        </div>
      <div class="div4">
        <div class="div41"><img src="/CCVQ2022 Img/arleft.png"></div>
        <div class="div42"><img src="/CCVQ2022 Img/arright.png"></div>
      </div>
    </div>
</body>
</html>