<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <!-- <div class="navbar">
        <div class="co-navbar">
            <a href="#">Hoạt động</a>
            <a href="#">Cuộc thi</a>
            <a href="#">Ban tổ chức</a>
            <a href="#">Về chúng tôi</a>
            <a href="#">Liên hệ</a>
        </div>
    </div>
-->
    <div class="content">
    <div class="mid">
        <h2>Tầm nhìn</h2>
        <ul>
            <li>Cải thiện chương trình, xây dựng chương trình học thuật lớn nhất biên hòa nói riêng và Đồng Nai nói chung.</li>
            <li>Khẳng định vị thế CCVQ trên bản đồ các cuộc thi học thuật Việt Nam.</li>
            <li>Tạo một môi trường chuyên nghiệp cho các bạn trẻ có cơ hội học tập, tổ chức chương trình.</li>
        </ul>
        <img src="Images/Rectangle 53.png" alt="Tam nhin">
    </div>
<!--     <script>
        {
            const navbar = document.querySelector(".navbar");
            let lastScrollY = window.scrollY;

            window.addEventListener("scroll", () => {
                if (lastScrollY < window.scrollY ) {
                    navbar.classList.add("navbar--hidden");
                }
                else
                {
                    navbar.classList.remove("navbar--hidden");
                }
                lastScrollY = window.scrollY;
            });
        }
    </script>
    -->
        <div class="ccvq22">
            <h1>CCVQ22</h1>
            <img src="CCVQ2022 Img/IMG_5643.jpeg" alt="CCVQ2022-1" style="width: 519px; height: 364px;">
            <img src="CCVQ2022 Img/_MG_8802.jpeg" alt="CCVQ2022-2" style="width: 519px; height: 364px;">
            <img src="CCVQ2022 Img/IMG_8885.jpeg" alt="CCVQ2022-3" style="width: 519px; height: 364px;">
            <img src="CCVQ2022 Img/_MG_9612-2.jpeg" alt="CCVQ2022-4" style="width: 780px; height: 494px;">
            <img src="CCVQ2022 Img/IMG_6399.JPG" alt="CCVQ2022-5" style="width: 780px; height: 494px;">
        </div>
    </div>
</body>
</html>