footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
}

.bg-image {
  position: absolute;
  background-size: cover;
  background-position: center;
  filter: brightness(20%);
  -webkit-filter: blur(5px);
  height: 500px;
  width: 100%;
  margin: 0;
  z-index: -1;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 50px;
  margin-top: 100px;
}

.box .content {
  margin: 20px 0 0 0;
}

.left .content .follow {
  margin: 20px 0 0 0;
  color: white;
}

.left .content {
  display: flex;
  margin: 80px;
}

.social {
  width: 35px;
  height: 40px;
  padding: 0 2px;
  text-align: center;
}

.footer-item__link {
  font: Inter;
  display: flex;
  color: white;
  text-decoration: none;
}

.footer-list {
  list-style-type: none;
}

.footer__heading {
  color: white;
  text-align: center;
}

.logoCCVQnew {
  height: 50px;
  width: 100px;
  margin-left: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__row {
  margin: 0 auto;
  padding: 0 8px;
}

input[type="text"] {
  padding: 8px 10px;
  width: 200px;
  display: flex;
  flex-basis: 20%;
  background: rgba(189, 185, 185, 0.7);
  border-radius: 15px;
  backdrop-filter: blur(75px);
}

.btn {
  width: 70px;
  height: 20px;
  background: rgba(200, 61, 61, 0.6);
  border-radius: 10px;
}

p {
  color: white;
}

.logoCCVQnew {
  height: 125px;
  width: 280px;
}

.icon {
  width: 30px;
  height: 40px;
}

