body {
  overflow-x: hidden;
}

.grid {
  width: 90vw;
  margin: auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin: 175px 0px 80px;
  justify-content: space-between;
}

.col {
  display: flex;
  column-count: 1;
}

.l-1,
.l-2 {
  display: block;
  margin: auto;
}

.l-1 {
  flex: 0 0 25%;
  margin-bottom: 30vh;
  border: 1px solid red;
}

.l-2 {
  border: 1px solid red;
}

.h1 {
  color: white;
  margin-top: 150px;
}

/*css for img*/

.bg-img {
  width: 100%;
  height: 100%;
}

.slideImg {
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 50vw;
  box-sizing: border-box;
  border: 2px solid white;
}

/*css for slide*/

.bgSlides {
  position: absolute;
  display: flex;
  z-index: -1;
  top: 0;
  width: 500%;
  height: 100%;
  filter: brightness(40%);
}

.slides {
  position: absolute;
  display: flex;
  width: 275vw;
  height: 60vh;
  top: 20vh;
}

.slide {
  width: 20%;
  transition: 2s;
}

.bgSlides input {
  display: none;
}

.slides input {
  display: none;
}

.navigation-manual {
  display: flex;
  margin: 40px auto;
  margin-top: 50vh;
  width: 800px;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #d9d9d9;
  width: 5px;
  height: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: #eaa984;
}

/*css for carousel*/

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for navigation*/